// styles/_variables.scss
$separator-color-light: #313131;
$separator-color: #121112;
$background-color: #211d21;
$foreground-color: #1e2022;
$input-background: #1d1c1b;
$light-color: #424242;
$white-color: #1f1e1c;
$dark-btn-background: #8d8d8d;
$light-btn-background: #e4e4e4;
$button-text-color: #d0d0d0;
$theme-color-1: #236591;
$theme-color-2: #1d477a;
$theme-color-3: #637383;
$theme-color-4: #385068;
$theme-color-5: #2e5585;
$theme-color-6: #4d5f72;
$primary-color: #8f8f8f;
$secondary-color: #707070;
$muted-color: #696969;
$gradient-color-1: #256b99;
$gradient-color-2: #18557e;
$gradient-color-3: #216491;